[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-environ = "*"
django-storages = "*"
django-redis = "*"
django-rest-swagger = "*"
psycopg2-binary = "*"
celery = "*"
pyjwt = "*"
gunicorn = "*"
pillow = "*"

[requires]
python_version = "3.7"
