[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-environ = "*"
django-storages = {extras = ["google"],version = "*"}
django-redis = "*"
psycopg2-binary = "*"
celery = "*"
gunicorn = "*"
pillow = "*"
geoip2 = "*"
django-rest-auth = "*"
django-allauth = "*"
coreapi = "*"
pyyaml = "*"
django-filter = "*"
django-elasticsearch-dsl-drf = "*"
django-debug-toolbar = "*"
django-elasticsearch-debug-toolbar = "*"
django-debug-toolbar-force = "*"
drf-yasg = {extras = ["validation"],version = "*"}
factory-boy = "*"
faker = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-ordering = "*"
djangorestframework-jwt = "*"
django-versatileimagefield = "*"
django-cacheops = "*"

[requires]
python_version = "3.7"
