[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-environ = "*"
django-storages = {extras = ["google"],version = "*"}
psycopg2-binary = "*"
gunicorn = "*"
pillow = "*"
django-rest-auth = "*"
django-allauth = "*"
coreapi = "*"
pyyaml = "*"
django-filter = "*"
django-debug-toolbar = "*"
drf-yasg = {extras = ["validation"],version = "*"}
django-silk = "*"
django-elasticsearch-debug-toolbar = "*"
django-elasticsearch-dsl-drf = "*"

[requires]
python_version = "3.7"
